STACKGRAPH_API_PORT=8080
STACKGRAPH_DB_PORT=5432
STACKGRAPH_DB_NAME=stackgraph
STACKGRAPH_DB_ADMIN_USER=stackgraph_admin
STACKGRAPH_DB_ADMIN_PASSWORD=stackgraph_admin
STACKGRAPH_DB_APP_USER=stackgraph_app
STACKGRAPH_DB_APP_PASSWORD=stackgraph_app
STACKGRAPH_DB_POOL_MIN_SIZE=1
STACKGRAPH_DB_POOL_MAX_SIZE=5
